/*

Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>

*/

:root {
  --hl-color: black;
  --hl-bg: #F1F1F1;
  /* --hltools-bg: #321a0f; */
  /* --hltools-color: #fff; */
  /* --hlnumber-bg: #221a0f; */
  /* --hlnumber-color: #fff; */
  /* --hlscrollbar-bg: #d3af86; */
  /* --hlexpand-bg: #d3af86; */
}

#article-container figure.highlight .hljs {
  background: #F1F1F1;
  color: black;
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
  color: #008000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
  color: #00f;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
  color: #a31515;
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
  color: #2b91af;
}

.hljs-doctag {
  color: #808080;
}

.hljs-attr {
  color: #f00;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #00b0e8;
}


.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
